# Node modules
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
/prisma/.env

# TypeScript compiled files
/dist
/build
*.tsbuildinfo

# OS-specific files
.DS_Store
*.swp
